body {
    margin: 0;
    padding: 0;
    background-color: #171717;
    color: white;
  }
  
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
  }
  
.logo {
    margin-right:10px;
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }
  
.popcorn-icon {
    width: 30px;
    height: 30px;
    background-image: url('Popcorn.webp');
    background-size: contain;
  }

#movie-container{
    display: flex;
    justify-content: center;

}
.movie-card {
    width: 175px; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: top;
    position: relative;
    background-color: transparent;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
  } 

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
.movies-grid {
    
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    display: grid;
    justify-content: center;
  }
  
  
.movie-title {
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: opacity 0.01s ease-in-out;
  }
  
.movie-votes{
    text-align: center;
    margin-top: 3px;
    font-size: 10pt;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;

  }
  
.movie-poster {
    width: 100%;
    height:100%;
    object-fit: cover;
    transition: transform 0.3s;
    border-radius: 8px;
  }

.movie-card {
    position: relative;
    z-index: 1;
  }

.movie-card:hover .movie-poster {
    transform: scale(1.1);
  }
  
.movie-card:hover .movie-title {
    opacity: 1;
  }

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
#searchInput {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
  }
  
#searchBtn,
#close-search-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
#searchBtn {
    margin-right: 10px;
    font-family: "Oswald", sans-serif;
  }

#searchBtn:hover {
    background-color: #45a049;
}
.search-tab {
    position: relative;
  }

#close-search-btn {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
.close-icon {
    font-size: 20px;
    color: red;
    line-height: 1;
  }

#now-playing {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    margin-bottom: 5px;
    font-family: "Montserrat", sans-serif;
  }

#load-more-movies-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
  }
  
#load-more-movies-btn:hover {
    background-color: #45a049;
  }

@media screen and (max-width: 768px) {
    .movies-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-gap: 10px;
    }
  
    .movie-card {
      width: 150px;
    }
    #load-more-movies-btn {
      width: 150px;
    }
  }
  
@media screen and (max-width: 480px) {
    .movies-grid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-gap: 10px;
    }
  
    .movie-card {
      width: 120px;
    }
  
    #load-more-movies-btn {
      width: 120px;
    }
  }

